kubernetes-pi-kube-1-a.yaml
kubernetes-pi-kube-1-b.yaml
kubernetes-pi-kube-1-c.yaml
kubernetes-pi-kube-1-d.yaml
kubernetes-pi-kube-2-a.yaml
kubernetes-pi-kube-2-b.yaml
kubernetes-pi-kube-2-c.yaml
kubernetes-pi-kube-2-d.yaml
talosconfig
